body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:850px;
}
#u5290 {
  position:absolute;
  left:100px;
  top:50px;
  width:420px;
  height:850px;
}
#u5291 {
  position:absolute;
  left:2px;
  top:417px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5292 {
  position:absolute;
  left:123px;
  top:138px;
  width:375px;
  height:671px;
}
#u5293 {
  position:absolute;
  left:2px;
  top:328px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5295 {
  position:absolute;
  left:278px;
  top:173px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
}
#u5297 {
  position:absolute;
  left:126px;
  top:140px;
  width:369px;
  height:16px;
}
#u5298 {
  position:absolute;
  left:2px;
  top:0px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5299 {
  position:absolute;
  left:140px;
  top:177px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:16px;
}
#u5300 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5301 {
  position:absolute;
  left:215px;
  top:20px;
  width:149px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5302 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u5303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5303 {
  position:absolute;
  left:584px;
  top:177px;
  width:323px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5304 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
